// * {
//     display: inline;
// }

form {
    display: inline-block;
}

mat-form-field{
    margin-left: 10px;
}

p {
    margin-left: 10px;
    display: inline;
}

button {
    margin-left: 10px
}

h2 {
    text-align: center;
}