// *{
//   height: 36px;
// }

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    height: 100%;
    ul {
      list-style-type: none;
      list-style-type: none;
      margin: 0;
      padding: 12px;
      li {
        display: inline;
        font-family: "Fira Sans", sans-serif;
        font-size: 1.3em;
        a {
          color: #f2f2f2;
          text-decoration: none;
          padding: 14px;
          &:hover {
            background-color: #111;
          }
        }
      }
      .logout {
        float: right;
        // margin-right: 20px;
      }
    }
  }

  