<h2>Login</h2>

<div id='login-fail' *ngIf="login_failed">
    <p>Incorrect username or password</p>
</div>

<form [formGroup]='form' (submit)='login()'>
    <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="username" formControlName='username'>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type='password' placeholder="password" formControlName='password'>
    </mat-form-field>

    <button mat-raised-button color="primary">Login!</button>
    
</form>