<div *ngIf="song">
    <p *ngIf="song.name">Name: {{ song.name }}</p>
    <p>Artist: {{ song.artist }}</p>
    <p *ngIf="song.date_published">Release Date: {{song.date_published.toString().slice(0, 10)}}</p>
    <p>Rating: {{ song.rating }}</p>
    <p>Number of Ratings: {{ song.number_of_ratings }}</p>
    <p *ngIf="song.date_uploaded">Date added: {{ song.date_uploaded.slice(0, 10) }}</p>
    <p>Added by: {{ song.created_by_username }} </p>
    <img *ngIf="song.song_image" src="http://ec2-18-224-246-12.us-east-2.compute.amazonaws.com/api/{{song.song_image}}" alt="">

    <audio
        controls
        src="http://ec2-18-224-246-12.us-east-2.compute.amazonaws.com/api/{{song.audio_file}}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</div>

<app-reviews></app-reviews>
